In [1]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Define the number of rows and columns in the dataset
num_rows = 1000000
num_columns = 100

# Create a random dataset with duplicates
data = np.random.randint(1, 10, size=(num_rows, num_columns))
df = pd.DataFrame(data, columns=[f'Column_{i}' for i in range(1, num_columns + 1)])

# Introduce duplicates in the dataset
duplicate_indices = np.random.choice(df.index, size=int(0.1 * num_rows), replace=False)
df.loc[duplicate_indices] = df.iloc[np.random.choice(df.index, size=len(duplicate_indices))].values

# Reset index
df.reset_index(drop=True, inplace=True)

# Display the dataset
df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,...,Column_91,Column_92,Column_93,Column_94,Column_95,Column_96,Column_97,Column_98,Column_99,Column_100
0,7,4,8,5,7,3,7,8,5,4,...,1,7,7,8,5,3,8,6,3,1
1,3,5,3,1,5,7,7,9,3,7,...,3,4,7,4,9,1,8,7,2,8
2,1,9,9,2,7,3,7,9,4,1,...,9,6,3,8,8,2,6,7,2,2
3,1,8,1,9,6,7,7,3,2,9,...,5,4,8,7,2,1,4,8,2,3
4,1,1,3,5,3,1,1,8,2,3,...,8,1,6,4,1,7,9,4,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5,7,3,8,6,3,7,3,8,9,...,5,9,8,3,1,8,2,8,4,7
999996,4,6,7,9,8,6,9,2,4,6,...,9,3,9,6,4,4,3,4,4,8
999997,1,1,6,2,7,3,5,3,1,4,...,5,9,1,7,2,8,7,8,5,9
999998,4,2,8,3,4,4,3,8,5,5,...,7,9,6,7,5,2,7,9,9,9
999999,5,2,2,4,8,8,3,9,9,8,...,6,4,1,2,3,6,6,2,1,3

In [2]:
df.groupby(df.columns.tolist(),as_index=False).size()

C:\Users\Samavedam\AppData\Local\Temp\ipykernel_1412\1185905868.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.groupby(df.columns.tolist(),as_index=False).size()

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,...,Column_92,Column_93,Column_94,Column_95,Column_96,Column_97,Column_98,Column_99,Column_100,size
0,1,1,1,1,1,1,1,8,6,2,...,2,9,8,4,5,6,1,8,2,1
1,1,1,1,1,1,1,5,1,6,5,...,9,8,7,6,1,2,6,9,6,1
2,1,1,1,1,1,1,8,7,8,1,...,2,1,9,2,9,8,9,4,3,1
3,1,1,1,1,1,3,1,8,6,5,...,6,1,6,7,9,4,7,2,8,1
4,1,1,1,1,1,3,9,9,9,2,...,9,3,2,2,5,9,2,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909540,9,9,9,9,9,6,8,8,7,5,...,9,1,7,4,1,4,9,6,4,2
909541,9,9,9,9,9,8,2,6,9,2,...,4,3,6,5,3,1,9,2,4,1
909542,9,9,9,9,9,8,6,5,8,2,...,2,4,1,6,6,3,6,1,3,1
909543,9,9,9,9,9,9,4,6,1,4,...,2,4,1,7,8,5,9,2,7,1
909544,9,9,9,9,9,9,4,7,3,5,...,3,1,6,1,9,8,2,4,8,1

In [3]:
df.to_parquet('../data/data.parquet')